*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
body{
    background-color: #262626;
}
nav{
    background-color: #262626;
    color: #fff;
    display: flex;
    padding: 40px;
}
nav img{
    width: 50px;
    margin-left: 50px;
}
nav h1 {
    margin-left: 20px;
    margin-top: 13px;
}
nav button{
    padding: 15px;
    background-color: #262626 ;
    border-radius: 20px;
    margin-left: 1200px;
}
nav button a{
    text-decoration: none;
    color: #fff;
}
main{
    display: flex;
    margin-top: 200px;
    color: #fff;
}
main .firstside{
    margin-top:10px;
    margin-left: 200px;
}
main .firstside h1{
    margin-top: 20px;
}
main .firstside p{
    margin-top: 30px;
}
main .firstside button{
    margin-top: 30px;
    padding: 10px;
    background-color: #262626;
    color: #fff;
    border-radius: 10px;
    border: solid #fff;
    cursor: pointer;
}
main .firstside button:hover{
    background-color: #000;
    color: #fff;
    border: solid #000;
    cursor: pointer;
}
main .secondside img{
    width:1000px;
    margin-left: 120px;
    margin-top: -100px;
}